.titolo-div {
  margin: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titolo-div h1 {
  margin-bottom: 1rem;
}

.tabs-appunti {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 15px 0;
  position: sticky;
  top: 1em;
  background-color: inherit;
  width: max-content;
  margin: auto;
  padding-inline: 1em;
  border-radius: 1000px;
  backdrop-filter: blur(10px);
  background-color: #efefefaf;
}

.tabs-appunti a {
  margin: 0;
  text-decoration: none;
  color: var(--nero-blu);
  font-weight: 500;
  transition: 0.2s ease;
}

.tabs-appunti a:visited {
  color: var(--nero-blu);
}

.tabs-appunti a:hover {
  transition: ease-in-out 0.3s;
  color: var(--blu-oltremare);
}

.cerca-appunti-div {
  display: flex;
  width: 20rem;
  align-items: center;
  border: 1px solid var(--blu-oltremare);
  height: 2rem;
  border-radius: 100px;
  padding: .25rem;
  padding-left: 10px;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25rem;
}

.cerca-appunti-div input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
}

.cerca-appunti-div button {
  font-family: "futura-pt", sans-serif;
  font-size: 1rem;
  height: 2rem;
  width: 6rem;
  border: 0px;
  border-radius: 100px;
  background-color: /* wrong color */ var(--medio);
}

.upload-form-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.upload-form {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 25vw;
  z-index: 9999;
  background-color: var(--bianco);
  border-radius: 8px;
  padding: 2rem;
  gap: 1rem;
}

.file-input-container {
  display: flex;
}

.file-input-container>label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  /* wrong color */
  background-color: /* wrong color */ var(--chiarissimo);
  width: 100%;
  border: 2px dashed var(--blu-oltremare);
  border-radius: 10px;
}

.file-input-container>label:hover {
  cursor: pointer;
}

.file-input-container>input {
  display: none;
}

.file-input-container img {
  height: 25px;
}

.file-input-container p {
  font-family: "futura-pt", sans-serif;
  margin-left: 0.5rem;
}

.file-name-input {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid var(--blu-oltremare);
  border-radius: 100px;
  padding-left: 10px;
  font-family: "futura-pt", sans-serif;
  font-size: 1.25rem;
  height: 2rem;
}

.upload-file-button {
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 6rem;
  border: 0px;
  border-radius: 100px;
  background-color: /* wrong color */ var(--medio);
}

.close-form-button {
  width: 20px;
  height: 20px;
  background-image: url(../imgs/close.png);
  background-size: contain;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
}

.close-form-button:hover {
  cursor: pointer;
}

.appunti-div {
  margin: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.note-element-div {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  padding: .5rem;
  border-radius: calc(6px + .5rem);
  /* wrong color */
  background-color: /* wrong color */ var(--bianco-scuro);
  box-shadow: 0em 0em .5em rgba(0, 0, 0, 0.075);
}

.note-element-div:hover {
  cursor: pointer;
}

.note-element-div>p {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
}

.note-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
}

.note-setting {
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-image: url("../imgs/dots.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.note-image-thumbnail {
  border-radius: 6px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.lista-appunti-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}