.chi-siamo-div {
    margin: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chi-siamo-div h1 {
    margin-bottom: 1rem;
}

.foto {
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 10%;
}

.foto div {
    margin: 0;
    width: 24%;
}

.foto img {
    width: 100%;
    height: auto;
    aspect-ratio: calc(4 / 5);
    border-radius: 8px;
}
