.home-div {
    min-height: calc(90vh - 2em - 4em);
    background-color: var(--bianco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benvenuti {
    margin-bottom: -0.8em;
}

.home-div img {
    margin: 0;
    width: 75%;
}
