:root {
    --nero-blu: #121718;
    --scurissimo: #0B515F;
    --scuro: #  ;
    --medio: #25C5E5;
    --chiaro: #8DE1F2;
    --chiarissimo: #B9ECF7;
    --chiarissimissimo: #EDFAFD;
    --chiarissimissimissimohover : #dbdbdb;
    --bianco: #efefef;
}