:root {
    --scurissimo: #0B515F;
    --scuro: #0E6577;
    --medio: #25C5E5;
    --chiaro: #8DE1F2;
    --chiarissimo: #B9ECF7;
    --chiarissimissimo: #EDFAFD;
    --chiarissimissimissimohover : #dbdbdb;
}
